* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.807);
    position: sticky;
    top: 0;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: orange;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ul li:hover a {
    color: orange;
    background-color: #fff;
}

nav .search_box {
    display: flex;
    margin: auto;
    height: 60px;
    line-height: 35px;
    border-radius: 10px;
}

nav .search_box input {
    border: 2px solid orange;
    border-radius: 25px 0 0 25px;
    outline: none;
    background: #fff;
    height: 80%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
}

nav .search_box p {
    border-radius: 0 25px 25px 0;
    background-color: orange;
    color: #fff;
    height: 80%;
    padding: auto;
    font-size: 20px;
    width: 120px;
}

.fa fa-search {
    padding: auto;
    color: #fff;
}

.froms-contenair {
    overflow: hidden;
}

.contenair {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border: 1px solid grey;
    height: 350px;
    width: 350px;
}

.sign-in-form input {
    padding: 15px;
    border-radius: 25px;
}

.title {
    font-size: 100;
    font-weight: 800;
    color: orange;
}

.input-field [type="text"] {
    color: orange;
    background-color: #fff;
    height: 50%;
}

.input-field [type="password"] {
    background-color: orange;
    color: #fff;
    height: 50%;
}

.sign-in-form input[type="submit"] {
    border-radius: 25px;
    width: 100px;
    background-color: orange;
    height: 40px;
    color: #fff;
}

.sign-in-form input[type="submit"]:hover {
    background-color: #fff;
    color: orange;
}

.text {
    padding: 10px;
}

.text hr {
    border: 1px solid black;
}

.grand-marché {
    display: flex;
    padding: 20px;
}

.marché {
    width: 30%;
}

.nouveauté img {
    width: 60%;
}